.friend_grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 70% 30%;
}

.bg-friend-list-cards {
  background-color: #f5f5f5;
}

.list-friends {
  background-color: #f5f5f5;
  box-shadow: #01366A 3px 3px 0 0;
  border: 1px solid black;
  border-radius: 5px;
  width: 210px;
  height: 270px;
}

.avatar-friend {
  width: 120px;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 45px;
}

.delete-friend {
  position: relative;
  bottom: -20px;
  left: 50px;
}

.chat-icon {
  position: relative;
  bottom: -20px;
  right: -100px;
}
