.session1, .session2, .session3, .session4, .session5, .session6, .session7  {
  height: 100vh;
}

.session1 {
  background-color: #01366A;
}

.session2 {
  background-color: #6BBBD9;
}

.session3 {
  background-color: #3F51B5;
}

.session4 {
  background-color: #FF5722;
}

.session5 {
  background-color: #333333;
}

.session6 {
  background-color: #4CAF50;
}

.session7 {
  background-color: #F5F5F5;
}

.img_landing1 {
  width: 50%;
  height: 100%;
}

h1 {
  color: #F29727;
}

h2 {
  color: #F2BE22;
}

h4 {
  color: antiquewhite;
}

.img_landing1_parent {
margin-top: 100px;
}
