<%= link_to "Events List", events_path, class:"btn btn-primary"%>

<div class="user-home-page d-flex flex-column">
  <div class="carousel">
    <%# FAZER CARROSSEL %>
  </div>

<%################ NEXT EVENTS CARDS ################%>
  <h2 class="card-info">Next Events</h2>
  <div class="events-cards-grid">
      <% @events_home.each do |event| %>
        <% if (event.event_date - Date.today).to_i >= 0 %>
          <div class="next-event-card">
            <div class="card-img" style="background-image: url('<%=event.event_img%>');
            background-size: cover;
            height: 80%;
            width: 80%;
            background-position: center;">
            </div>
            <div class="card-info">
              <h4><strong><%= event.title %></strong></h4>
              <h5><%= (event.event_date - Date.today).to_i %> days left</h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
