<h1>User page</h1>
<%# <p>Find me in app/views/users/home.html.erb</p> %>

<%= link_to "Events List", events_path, class:"btn btn-primary"%>

<div class="user-home-page d-flex flex-column">
  <div class="carousel">
    <%# FAZER CARROSSEL %>
  </div>

  <div class="events-cards-grid">
    <%# ITERAR EVENTOS DO USUÁRIO %>
    <%# ITERAR DIAS RESTANTES ATÉ O EVENTO %>
  </div>
</div>
