<h1>Users#home</h1>
<p>Find me in app/views/users/home.html.erb</p>

</div><div class="container">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cards">
    <label class="card" for="item-1" id="song-1">
      <img src="https://res.cloudinary.com/dtz9smyye/image/upload/v1686254636/WhatsApp-Image-2021-07-29-at-16.17.51_i7f8u8.jpg" alt="song">
    </label>
    <label class="card" for="item-2" id="song-2">
      <img src="https://res.cloudinary.com/dtz9smyye/image/upload/v1686254428/1111111111111111_enrnjs.jpg" alt="song">
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src="https://res.cloudinary.com/dtz9smyye/image/upload/v1686254427/main_211612_nosso_natal_rlkzgt.jpg" alt="song">
    </label>
  </div>

<%= link_to "Events List", events_path, class:"btn btn-primary"%>
