<h1>User page</h1>
<%# <p>Find me in app/views/users/home.html.erb</p> %>

<%= link_to "Events List", events_path, class:"btn btn-primary"%>

<div class="user-home-page d-flex flex-column">
  <div class="carousel">
    <%# FAZER CARROSSEL %>
  </div>

  <div class="events-cards-grid">
      <% @events_home.each do |event| %>
        <% if (event.event_date - Date.today).to_i >= 0 %>
          <div class="next-event-card">
              <%# <img src=<%= image_tag event.event_img %>
            <div class="card-info">
              <%= event.title %>
              <%= (event.event_date - Date.today).to_i %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
