<%# SESSION 1 %>
<div class="session1 d-flex justify-content-between flex-column">
  <div class="img_landing1_parent d-flex align-items-center">
    <div class="h2-text px-5">
      <h1>Together, We Make a Difference: </h1>
      <h2><em>Uniting Communities to Help the Homeless</em></h2>
      <br>
      <h4> Help Homeless serves as a hub where users can come together to plan, promote, and participate in events to address the needs of homeless individuals in their neighborhood.</h4>
    </div>
    <img src="https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="img_landing1">
  </div>
  <a href="#session-2"><div class="arrow bounce"></div></a><br />
</div>

<%# SESSION 2 %>
<div class="session2 d-flex justify-content-between flex-column" id="session-2">
  <div class="img_landing1_parent d-flex align-items-center">
    <div class="h2-text px-5 order-2">
      <h1>Together, We Make a Difference: </h1>
      <h2><em>Uniting Communities to Help the Homeless</em></h2>
      <br>
      <h4> By leveraging the power of technology and harnessing the spirit of volunteerism, we aim to bridge the gap between those willing to help and those in need..</h4>
    </div>
    <img src="https://images.unsplash.com/photo-1604176354204-9268737828e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80" alt="" class="img_landing1 order-1">
  </div>
  <a href="#session-3"><div class="arrow bounce"></div></a><br />
</div>

<%# SESSION 3 %>
<div class="session3 d-flex justify-content-between">
  <div class="img_landing1_parent d-flex align-items-center">
    <div class="h2-text px-5">
      <h1>Together, We Make a Difference: </h1>
      <h2><em>Uniting Communities to Help the Homeless</em></h2>
      <br>
      <h4> Help Homeless is a social network dedicated to bringing people from all walks of life together to address the critical issue of homelessness. Our platform serves as a digital hub where individuals, organizations, and communities unite with a shared purpose: to create lasting change and eradicate homelessness.</h4>
    </div>
    <img src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="img_landing1">
  </div>
</div>
