<%# SESSION 1 %>
<div class="session1 d-flex justify-content-between flex-column">
  <div class="img_landing1_parent d-flex align-items-center">
    <div class="session-text h2-text px-5">
      <h1 class="session-heading display-1"><strong>Together, We Make a Difference</strong></h1>
      <h2 class="subheading"><em>Uniting Communities to Help the Homeless</em></h2>
      <br>
      <h3 class="session-description">Promote upcoming volunteer events and opportunities, such as serving meals at a shelter or participating in a community cleanup.</h3>
    </div>
    <img src="https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="img_landing1">
  </div>
  <a href="#session-2"><div class="arrow bounce"></div></a><br />
</div>

<%# SESSION 2 %>
<div class="session2 d-flex justify-content-between flex-column" id="session-2">
  <div class="img_landing1_parent d-flex align-items-center">
    <div class="session-text h2-text px-5 order-2">
      <h2 class="session-heading display-2 mb-4"><strong>Volunteer Opportunities</strong></h2>
      <h3 class="session-description">Run campaigns to collect essential items such as blankets, clothing, toiletries, or non-perishable food items for homeless individuals.</h3>
    </div>
    <img src="https://images.unsplash.com/photo-1604176354204-9268737828e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80" alt="" class="img_landing1 order-1">
  </div>
  <a href="#session-3"><div class="arrow bounce"></div></a><br />
</div>

<%# SESSION 3 %>
<div class="session3 d-flex justify-content-between">
  <div class="img_landing1_parent d-flex align-items-center">
    <div class="session-text h2-text px-5">
      <h2 class="session-heading display-2 mb-4"><strong>Engage with the Community</strong></h2>
      <br>
      <h3 class="session-description">Encourage people to share their own experiences or ideas for helping the homeless, fostering a sense of community and involvement.</h3>
      <%= link_to "Browse Events", events_path, class:"button-50 text-black mt-4 px-4" %>
    </div>
    <img src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="img_landing1">
  </div>
</div>
