<div class="footer">
  <p class="contact-info position-absolute top-50 end-0 translate-middle">contact@helphomeless.site</p>
  <p class="footer-copyright position-absolute top-50 start-50 translate-middle">Copyright © 2023 HelpHomeless</p>
</div>
