.chatroom {
  background: white;
  margin-bottom: -10px;
  height: 76.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 58vh;
    overflow: scroll;
    padding: 1rem;
    p{
      margin-bottom: 0;
      font-size: small;
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
.chat-grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 79.3vh;
}
