.navbar-lewagon {
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-search {
  width: 500px;
}

.dropdown-menu {
  background-color: #dddee0;
}
